
.admin-container {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  /*background-color: #f5f5f5;*/
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', sans-serif;
}

.admin-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.admin-nav h2 {
  margin: 0;
}

.admin-nav button {
  padding: 0.5rem 1rem;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.admin-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.admin-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}

.admin-listItem {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #39f2ae;
  border-radius: 10px 32px;
  border: 2px solid #39f2ae;
}

.admin-listItemImage {
  width: 180px;
  height: 160px;
  object-fit: cover;
  margin-bottom: 16px;
}

.admin-listItem span {
  margin-bottom: 0.5rem;
}

.admin-buttons {
  display: flex;
  gap: 1rem;
}

.admin-editButton,
.admin-deleteButton {
  display: inline-block;
 
  background-color: #323941;
  padding: 10px 20px;
  border-radius: 10px 32px;
  margin-top: 16px;
  font-size: 1rem;
  color: #ffff;
}

.admin-editButton {
   border: 2px solid rgba(6, 185, 240, 0.777);
  
}

.admin-deleteButton {
   border: 2px solid #ff000093;
 
}

.admin-add-button {
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}
