
/**seccion Nosotros**/
.headline {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}


.nosotrosContainer {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #b1b5c0;
  box-shadow: 0px 0px 10px #00000067;
  margin-bottom: 40px;
}

.nosotrosImg {
  display: flex;
  align-items: center;
 

  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
  }
}

.nosotrosTexto {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px;
  color:#000000;

  h2 {
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 24px;
  }
p {
    font-size: 1rem;
    line-height: 1.6;
    color:black
  }
}

/*media queries seccion Nosotros */
/* dispositivos pequeños*/
@media screen and (max-width: 768px) {
  .nosotrosContainer {
    flex-direction: column; 
    padding: 20px;
  }
  .nosotrosImg img {
   aspect-ratio: 4/3; 
  }
  .nosotrosTexto {
    padding: 20px; 
  }
  .nosotrosTexto h2 {
    font-size: 1.4rem; 
    line-height: 1.5;
  }
  .nosotrosTexto p {
   line-height: 1.4;
  }
}
/*dispositivos medianos */
@media (min-width: 769px) and (max-width: 1024px) {
  .nosotrosContainer {
    flex-direction: column; 
    padding: 20px; 
    width: 80%; 
  }

  .nosotrosImg {
    margin-bottom: 20px; 
  }

  .nosotrosTexto {
    padding: 16px;

    h2 {
      font-size: 1.4rem; 
    }

   p {
      line-height: 1.5; 
    }
  }
}