


.login-container {
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 60px auto;
  
  padding: 40px;
  border-radius: 20px;
  width:400px;
  background-color: #16161695;
  box-shadow: 0px 15px 40px #39f2ae;
}
.backToHome {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-text {
  text-align: center;
  font-size: 1.2rem;
 
  
}

.form {
  --bg-light: #efefef;
  --bg-dark: #707070;
  --clr: #58bc82;
  --clr-alpha: #9c9c9c60;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
 
}

.form .input-span {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.form input[type="email"],
.form input[type="password"] {
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--clr-alpha);
  
}

.form input[type="email"]:focus,
.form input[type="password"]:focus {
  outline: 2px solid var(--clr);
}

.label {
  align-self: flex-start;
  color: var(--clr);
  font-weight: 600;
}

.form .submit {
  padding: 1rem 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 3rem;
  background-color: var(--bg-dark);
  color: var(--bg-light);
  border: 2px solid #39f2ae;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 600;
  font-size: 0.9rem;
}

.form .submit:hover {
  background-color: #39f2ae;;
  color:#707070;
}

.form img {
  width: 150px;
  rotate: 45deg;
}

.error-message {
  color: #e63946;           
  
  margin-top: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  
}
/*media queries para dispositivos pequeños*/
@media screen and (max-width: 768px) {
  .login-container {
    padding: 2rem;
  }

  .form {
    width: 100%;
    max-width: 350px;
    margin: auto;
  }

  .input-span {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}





