.admin-container {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

}

.admin-nav {
  top:0;
  position: sticky;
  display: flex;
  width: 100%;
  height: 96px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #282f44fd;
  backdrop-filter: blur(10px);
  font-size: 1.2rem;
  color: #ffffff;
  box-shadow: 0px 0px 10px #00000067;
}

.admin-nav-button {
  padding: 0.5rem 1rem;
  color: white;
  border: 2px solid #e74c3c;
  border-radius: 6px;
  cursor: pointer;
}

.admin-icon {
  color: #39f2ae;
  font-size: 80px;
  display: flex;
  align-items: center;
}

.admin-title {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}


.admin-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}

.admin-listItem {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #39f2ae;
  border-radius: 10px 32px;
  border: 2px solid #39f2ae;
}

.admin-listItemImage {
  width: 180px;
  height: 160px;
  object-fit: cover;
  margin-bottom: 16px;
}

.admin-listItem span {
  margin-bottom: 0.5rem;
}

.admin-buttons {
  display: flex;
  gap: 1rem;
}

.admin-editButton,
.admin-deleteButton {
  display: inline-block;
  background-color: #323941;
  padding: 10px 20px;
  border-radius: 10px 32px;
  margin-top: 16px;
  font-size: 1rem;
  color: #ffff;
}

.admin-editButton {
  border: 2px solid #39f2ae;
}

.admin-deleteButton {
  border: 2px solid #e74c3c;
}

.admin-add-button {
  margin-top: 32px;
  margin-right: 32px;
  padding: 0.75rem 1.5rem;
  color: white;
  border: 2px solid #39f2ae;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}
.admin-nav-button:hover,
.admin-deleteButton:hover {
   box-shadow: 0 0 0px 1px #ec5353 ,
    0 0 10px 2px #ec5353 ,
    inset 0 0 0px 1px #ec5353 ,
    inset 0 0 15px 2px #ec5353 ;
}

.admin-add-button:hover,
.admin-editButton:hover {
  box-shadow: 0 0 0px 1px #39f2ae,
    0 0 10px 2px #39f2ae,
    inset 0 0 0px 1px #39f2ae,
    inset 0 0 15px 2px #39f2ae;
}