.error_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.box {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-family: 'Titillium Web', sans-serif;
}
.box h1 {
   font-weight: 700;
   font-size: 25vh;
   margin: 0;
   line-height: 1;
   animation: light 4s steps(1) infinite;
}
.box h1 + p {
   color:#fff;
   font-size: 3vh;
}
.box img {
   width: 360px;
}
button p{
   font-size: 1.3rem;
}

@keyframes light {
   33% {
      text-shadow: 0 0 20px #39f2ae62;
   }
   66% {
      text-shadow: 0 0 20px #39f2ae;
   }
}