/* Estilos para la barra de búsqueda */
.searchLabel {
  position: relative;
  display: block;
  width: 280px;
  border-radius: 10px;
  border: 2px solid #39f2ae;;
  padding: 15px 8px 15px 10px;
  text-align: left;
  margin-left: 42px;
  margin-bottom: 32px;
}

.shortcut {
  position: absolute;
  top: 50%;
  right: -3%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  color: #c5c5c5;
  background-color: #39f2ae75;
  padding: 0.3em;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

input.search_bar {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
}

@media screen and (max-width: 768px) {
  .searchLabel {
    margin: 0 auto 32px auto; 
    text-align: center;
  }
  .shortcut {
    right: 10px; 
  }
  .headline {
    text-align: center;
    margin-left: -35px;
  }
}


