.cart-drawer {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%); 
  transition: transform 0.3s ease;
  width: 300px;
  height: 100vh;
  background-color:#282f44;
  box-shadow: -2px 0 5px #39f2ae;
  z-index: 9999;
  padding: 1rem;
  overflow-y: auto;
 
}

.cart-drawer.open {
  transform: translateX(0);
}

.cart-header {
  display: flex;
  justify-content:space-around;
  align-items: center;
  border-bottom: 1px solid #39f2ae;
  margin-bottom: 1rem;
}

.headline {
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); 
}

.cart-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-content li {
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #39f2ae;
  padding-bottom: 0.5rem;
}

 .cartCloseBtn {
    background: #323941;
    color: #39f2ae;
    height: 45px;
    width: 45px;
    border: 1px solid #39f2ae;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .cartCloseBtn:hover {
 border: 2px solid #ffffff;
 }

/*queries para dispositivos pequeños*/
@media screen and (max-width: 768px) {
  .cart-drawer {
    transform: translateX(-100%);
    width: 100vw;
    max-width: 100%;
    z-index: 99999;
  }
  .cart-drawer.open {
    transform: translateX(0);
  }
  .cartCloseBtn {
    position: relative;
    top: 15px
 }
  
}
 


