/* Estilos para la barra de navegacion */
nav {
  top: 20px;
  position: sticky;
  display: flex;
  width: 100%;
  height: 96px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #282f445f;
  backdrop-filter: blur(10px);
  font-size: 1.2rem;
  color: #ffffff;
  box-shadow: 0px 0px 10px #00000067;
  z-index: 999
}

nav ul {
  display: flex;
  /*se ubica en línea la lista*/
  padding: 100px;
}

nav ul li {
  list-style: none;
  /*se eliminan las viñetas de los elementos de la lista*/
  margin: 0 25px;
}

nav ul li {
  text-decoration: none;
  /*se elimina el subrayado a los elementos*/
  color: #ffffff;
}

.link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: #39f2ae;
  cursor: pointer;
}

/*se muestra activo el link actual */
.link.active {
  color: #39f2ae;
  text-shadow: #39f2ae 1px 0 10px;

}

.logoContainer {
  img {
    width: 220px;
  }
}

button {
  border-style: none;
  background-color: transparent;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  position: relative;
}

ul li ul.dropdown {
  display: none;
  position: absolute;
  background: #282f4491;
  min-width: 120px;
  border-radius: 4px;
  z-index: 9999;
  padding: 0;
  box-shadow: 0 0 5px 0 #39f2ae;
}

ul li:hover ul.dropdown {
  display: block;
}

ul li ul.dropdown li {
  padding: 10px 0;
  color: white;
}

.menuBtn {
  display: none;
}

/*queries para pantallas pequeñas*/
@media screen and (max-width: 768px) {
  .logoContainer {
    display: none;
  }

  .logoMenu {
    display: block;
    width: 200px;
  }

  .cubierta {
    position: absolute;
    top: 0;
    z-index: 9999;
  }

  .cubierta .menuBtn {
    position: absolute;
    left: 5px;
    top: 10px;
    background: #323941;
    color: #39f2ae;
    height: 45px;
    width: 45px;
    z-index: 9999;
    border: 1px solid #39f2ae;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }

  .cubierta .menuBtn:hover {
    border: 2px solid #ffffff
  }

  #btn:checked~.menuBtn {
    left: 247px;
  }

  .cubierta .menuBtn i {
    position: absolute;
    font-size: 1.2rem;
    transition: all 0.3s ease;
  }

  .cubierta .menuBtn i.fa-times {
    opacity: 0;
  }

  #btn:checked~.menuBtn i.fa-times {
    opacity: 1;
    transform: rotate(-180deg);
  }

  #btn:checked~.menuBtn i.fa-bars {
    opacity: 0;
    transform: rotate(180deg);
  }

  .menuLateral {
    position: absolute;
    height: 100vh;
    /*ocupo todo el view height*/
    width: 270px;
    left: -270px;
    transition: all 0.3s ease;
    background-color: #282f44;
  }

  #btn:checked~.menuLateral {
    left: 0;
  }

  .menuLateral .listaItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .menuLateral .listaItems li {
    line-height: 50px;
    padding: 5px;
    width: 100%;
    border-top: 1px solid #b1b5c0;
    border-bottom: 1px solid #b1b5c0;
    transition: all 0.3s ease;
  }

  .listaItems li:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 10px 3px #39f2ae;
  }

  .listaItems li:nth-child(n) {
    border-top: none;
  }

  .listaItems li:last-child {
    border-bottom: none;
    box-shadow: none;
  }

  .listaItems li {
    color: #f2f2f2;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    display: block;
  }

  .headline {
    text-align: center;
  }

  .dropdown li {
    all: unset;
    display: block;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
  }

  ul li ul.dropdown {
    background-color: #282f44;
    min-width: 220px;
  }

  /*Se eliminan los bordes superior e inferior de los items dropdown*/
  .menuLateral .listaItems li ul.dropdown li {
    border-top: none;
    border-bottom: none;
  }

  /*Se elimina el efecto hover de los items dropdown */
  .menuLateral .listaItems li ul.dropdown li:hover {
    box-shadow: none;
    background: none;
  }



}





/*media queries para dispositivos medianos*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .logoContainer {
    img {
      display: none;
    }
  }

  nav {
    justify-content: space-evenly;
    padding: 0 10px;
    /* Reduce el padding lateral */
    height: 80px;
    /* Ajusta la altura de nav */
  }

  nav ul li {
    margin: 0 15px;
    /* Reduce el espacio entre los elementos */
  }

  .headline {
    text-align: center;
  }
}










.footer-container {
  display: grid;
  grid-template: 160px 160px 64px /1fr 1fr 1fr;
  grid-template-areas: "arriba-izq arriba-medio arriba-der"
    "centro-izq centro-medio centro-der"
    "abajo abajo abajo";
  width: 100%;
  gap: 20px;
  background-color: #2f4858;
  color: #b1b5c0
}

.arriba-izq {
  grid-area: arriba-izq;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
}

.arriba-izq ul {
  display: flex;
  list-style: none;
}

.arriba-izq ul li {
  padding: 13px;
}

.arriba-der {
  grid-area: arriba-der;
  padding-top: 32px;
  align-items: center;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.newsletter i {
  margin-right: 16px;
}

.fa-envelope {
  color: #39f2ae
}

.email-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-input {
  padding: 8px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  background-color: #30353c;
  color: #ffff;
}

.btnEmail {
  background-color: #39f2ae91;
  color: #ffffff;
  font-size: 1rem;
  padding: 8px 8px;
  border: 1px solid #39f2ae;
  border-radius: 8px;
  cursor: pointer;
}

.btnEmail:hover {
  background-color: transparent;
  box-shadow: 0 0 0px 1px #39f2ae,
    0 0 10px 2px #39f2ae,
    inset 0 0 0px 1px #39f2ae,
    inset 0 0 10px 2px #39f2ae;

}

.list-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 16px;
  color: #39f2ae;
}

.centro-izq {
  grid-area: centro-izq;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centro-izq {
  ul {
    list-style: none;
    text-align: left;
  }
}

.centro-izq {
  li {
    padding-bottom: 10px;
  }
}

.centro-medio {
  grid-area: centro-medio;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.centro-medio address p {
  padding-bottom: 10px;
}

.centro-der {
  grid-area: centro-der;
}

.centro-der ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centro-der li {
  list-style: none;
}

.centro-der img {
  width: 78px;
  height: auto;
  padding: 1rem;
}

.fa-brands {
  color: #39f2ae;
  cursor: pointer;
}

.fa-brands:hover {
  color: #a0a4a8;
}

.abajo {
  grid-area: abajo;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3E4C59;
  border-top: 1px solid #39f2ae;
}

.abajo-content {
  color: #a0a4a8;
}

.fa-whatsapp {
  color: rgb(23, 182, 23);
  font-size: 3rem;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1001;
}

/*animación para el ícono de whatsapp*/
.pulso {
  animation-name: pulso;
  animation-iteration-count: infinite;
  animation-duration: .8s
}

@keyframes pulso {

  35%,
  65% {
    transform: scale(1.2)
  }
}

/*botón de volver hacia arriba*/
.back_to_top {
  color: #a0a4a86a;
  font-size: 3rem;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1001;
}

.back_to_top:hover {
  color: #39f2ae;
}

/**Media Queries para el footer**/
@media screen and (max-width: 768px) {

  /*Reestructuro todo en una sola columna y 7 filas que se ajustan en auto*/
  .footer-container {
    grid-template: repeat(7, auto) / 1fr;
    grid-template-areas:
      "arriba-izq"
      "arriba-medio"
      "arriba-der"
      "centro-izq"
      "centro-medio"
      "centro-der"
      "abajo";
  }

  .email-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .newsletter {
    flex-direction: column;

    i {
      margin-bottom: 10px;
    }
  }

  .arriba-izq,
  .centro-der ul {
    flex-wrap: wrap;
    gap: 10px;
  }

  .btnEmail {
    width: 100%;
  }

  .centro-der {
    img {
      max-width: 68px;
    }
  }

  .abajo {
    text-align: center;
    padding: 10px;
  }
}

/**dispositivos medianos **/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-container {
    grid-template: repeat(7, auto) / 1fr;
    grid-template-areas:
      "arriba-izq"
      "arriba-medio"
      "arriba-der"
      "centro-izq"
      "centro-medio"
      "centro-der"
      "abajo";
  }

  .email-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .newsletter {
    flex-direction: column;

    i {
      margin-bottom: 10px;
    }
  }

  .arriba-izq,
  .centro-der ul {
    flex-wrap: wrap;
    gap: 10px;
  }

  .btnEmail {
    width: 100%;
  }

  .centro-der {
    img {
      max-width: 68px;
    }
  }

  .abajo {
    text-align: center;
    padding: 10px;
  }
}